# AWS SDK
boto3

# 阿里云 OSS SDK
oss2

# 日期时间处理
python-dateutil==2.8.2

# 请求处理
requests==2.31.0
urllib3==1.26.18

# 工具包
six==1.16.0
certifi==2023.7.22
crcmod==1.7

# 日志处理
python-json-logger==2.0.7

# 环境变量处理
python-dotenv==1.0.0



